<div class="nested-fields">
    <%= f.input :item, input_html: { maxlength: 100 }, hint: '100 max chars', input_html: { class: 'long-input' }%>
    <%= link_to_remove_association "Remove", f %>
</div>